# Build results
bin/
obj/
out/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio
.vs/

# Rider
.idea/
*.sln.iml

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
